<div class="games-container">
	{% for game in include.content %}
		<div class="game">
			<img src="{{ game.image | relative_url }}" class="game-image"/>
			<h2 class="game-text">{{ game.text | markdownify }}{% if game.badge %}<span class="game-badge">{{ game.badge }}</span>{% endif %}</h2>
			<div class="game-subtext">{{ game.subtext | markdownify }}</div>

			{% if game.link or game.url %}
			<br><a href="{{ game.link | relative_url | default:game.url }}">En savoir plus</a>
			{% endif %}

			{% if game.progress %}
			<span class="progress-text">{{ game.progress }} terminé</span>
			<div class="progress-bar"><div style="width: {{ game.progress }};" class="progress"></div></div>
			{% endif %}
		</div>
	{% endfor %}
</div>
