<header class="site-header {% if include.sticky %}sticky{% endif %}" role="banner">
	{% if site.navigation_logo %}
		<a class="site-logo" href="{{ "/" | relative_url}}"></a>
	{% endif %}

	<a class="site-title" href="{{ "/" | relative_url}}"><span class="yellow">Happy</span><span class="grey">Blocks</span></a>

	<nav class="nav">
		<div class="no-clipboard" data-clipboard-text="Mc.HappyBlocks.info" id="nav-copy-button">Mc.HappyBlocks.info</div>
		<div class="split"></div>
		{% for page in site.navigation %}
		{% if page.dropdown %}
		 	<div class="page-link dropdown">
				{{ page.text | escape | replace: "launcher", "" }} &#x25BE;
				<div class="dropdown-menu">
					{% for dropdown in page.dropdown %}
					<a class="dropdown-link" href="{% if dropdown.link %}{{ dropdown.link | relative_url }}{% else %}{{ dropdown.url | default: #! }}{% endif %}">{{ dropdown.text | escape | replace: "launcher", "" }}</a>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<a class="page-link" href="{% if page.link %}{{ page.link | relative_url }}{% else %}{{ page.url | default: #! }}{% endif %}">{{ page.text | escape }}</a>
		{% endif %}
		{% endfor %}
	</nav>

	<nav class="nav-mobile">
		<div id="mobile-nav-button" class="page-link dropdown">
			<i class="mdi mdi-menu"></i>
			<div id="mobile-dropdown" class="dropdown-menu">
				{% for page in site.navigation %}
					{% if page.dropdown %}
						<div class="dropdown-link dropdown">
							{{ page.text | escape }}
							<span class="dropdown-arrow">&#x25C2;</span>
							<div class="dropdown-menu">
								{% for dropdown in page.dropdown %}
									<a class="dropdown-link" href="{% if dropdown.link %}{{ dropdown.link | relative_url }}{% else %}{{ dropdown.url | default: #! }}{% endif %}">{{ dropdown.text | escape }}</a>
								{% endfor %}
							</div>
						</div>
					{% else %}
						<a class="dropdown-link" href="{% if page.link %}{{ page.link | relative_url }}{% else %}{{ page.url | default: #! }}{% endif %}">{{ page.text | escape }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</nav>
</header>

<span id="copy-text">
	Adresse du serveur copiée !<br>
	Utilisez <span id="copy-key"></span> pour la coller dans Minecraft.
</span>
