<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" href="http://happyblocks.info" hreflang="fr"/>
	<META NAME="Language" CONTENT="fr">
	<META NAME="Keywords" CONTENT="HappyBlocks, Minecraft, Serveur, Crack, mini-jeux, fnaf, pvp soup, sky wars, forum, cgu, happy, blocks, paintball">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<!-- Material Design Icons -->
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">
	<!-- Ubuntu font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i">

	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

	{% include background_css.html %}
		<!-- ExtremeTracking -->
	<!--script src="//t1.extreme-dm.com/f.js" id="eXF-stoneset-0" async defer></script-->
		<!-- Analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77425474-1', 'auto');
  ga('send', 'pageview');

</script>
	<!-- Referencement -->
<script type="application/ld+json">
{
  "@context": "http://happyblocks.info/",
  "@type": "Organization",
  "url": "http://happyblocks.info",
  "logo": "http://serv2happyblocks.myriapulse.com/img/favicon.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "email": "answer@happyblocks.info",
    "contactType": "customer service",
    "url": "http://happyblocks.info/forum/"
  }]
}
</script>
<!-- Smartlook -->
<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'e10844355de07b6721ff525a9af4b6841c44cc1e');
</script>
</head>
